.container {
  margin: auto;
  width: 380px;
  height: 500px;
  padding: 10px;
  margin-top:30px;
  border: 2px solid black;
  background-color: #aaaaaa;
  border-radius: 15px;

  
}

.calculator-body {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}

.data-screen {
    padding: 15px;
    margin: 10px;
    flex-basis: auto;
    flex-wrap: wrap;
    height: 50px;
    border: 2px solid black;
    background-color: #eee;
    border-radius: 5px;
    text-align: right;
    flex: 1 0 65%;


}


.btn {
    height:70px;
    margin: 5px;
    transition: all .1s ease;
    background-color: #eee;
    border-radius: 8%;
    border: 2px solid black;
    flex: 1 0 21%;
    font-size: 20px;


}

.buttons-div {
    margin: auto;
    text-align: center;
    vertical-align:middle;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}

.clear {
    display: flex; 
    justify-content: space-between;
}

.clear > * {
    flex: 2 0 190%;



}

.btn-clicked {
    transform: scale(1.1);
    border-color: #1d5e5e;
    box-shadow: 0 0 1rem #998f6b;}


#clear-all {
    background-color: #faa;
    border-radius: 8%;

}

#clear {
    background-color: #aaf;
    border-radius: 8%;

}

.operator {
    background-color: rgb(236, 179, 157);
}

#equals{
    background-color: rgb(236, 179, 157);
}