.container {
  margin: auto;
  width: 500px;
  height: 500px;
  padding: 10px;
  text-align: center;
  border: 3px solid black;
  
}

.input-box {
    padding: 10px;
    margin: 5px;
    width: 90%;
    
}

.btn {
    margin: 3px;
    border-color: black;
    width: 10%;
    height: 10%;
}

.buttons-div {
    padding-top: 150px;
    margin: auto;
    text-align: center;
    vertical-align:middle;
        
}

.btn-clicked {
    background-color: cadetblue;
}